.App {
  background: url(bg.jpg);   
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  float: bottom;
  text-align: center;
  max-width: fit-content;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}
p, h1 {
  margin-left: 50px;
  margin-bottom: 50px;
}
